.container-about {
    width: 80vw;
    height: 23rem;
    display: flex;
    flex-direction: column;
    color: #FFF;
    border-top: 1px #2f1153c4 solid;
    border-bottom: 1px #2f1153c4 solid;
    margin-left: 5rem;
}

.about span {
    width: 8rem;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    padding: 3px;
    border: 3px #2f115371 solid;
    border-radius: 15px;
    font-weight: 700;
    color: #7B4AE2;
    background-color: #2f11533f;
}

.about h5 {
    color: rgba(255, 255, 255, 0.705);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.about a {
    color: rgba(255, 255, 255, 0.705);
    text-decoration: underline;
}

.about a:hover {
    cursor: pointer;
    color: rgb(93, 24, 157);
}

@media(max-width: 600px) {
    .container-about {
        height: 30rem;
        margin-left: 2rem;
    }
}

@media(max-width: 570px) {
    .container-about {
        height: 40rem;
        margin-left: 2rem;
    }
}