.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar span {
    font-family: 'Nova Square', sans-serif;
    font-size: 2rem;
    color: rgb(83, 10, 151);
    margin-left: 3rem;
}

.bar {
    width: 90rem;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 8rem;
    margin-top: 3rem;
    background-color: rgba(123, 74, 226, 0.05);
    border-radius: 8rem;
}

ul {
    display: flex;
    text-decoration: none;
    margin-left: 50rem;
    gap: 4rem;
}

li {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}