.container-header {
    height: 4rem;
    position: fixed;
    top: 0;
    bottom: 3rem;
    z-index: 1;
}

navbar {
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    /* background-color: rgb(19, 9, 42); */
    background-color: #2a1950;
    border-radius: 8rem;
}

.logo {
    color: rgb(83, 10, 151);
    margin: 3rem;
    cursor: pointer;
    text-decoration: none;
}

.logo h1 {
    font-family: 'Nova Square', sans-serif;
    font-size: 2rem;
}

.logo h1:hover {
    color: rgba(255, 255, 255, 0.518);
}

.references {
    display: flex;
    justify-content: center;
    align-items: center;
}

.references ul {
    display: flex;
    text-decoration: none;
    gap: 1.2rem;
}

.references a {
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.references a:hover {
    color: rgb(93, 24, 157);
}