/* .container-header {
    width: 100vw;
    height: 100vh;
} */

.bar {
    width: 93vw;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-top: 3rem;
    background-color: rgba(123, 74, 226, 0.05);
    border-radius: 8rem;
    position: sticky;
    z-index: 1;
}

.bar span {
    font-family: 'Nova Square', sans-serif;
    font-size: 2rem;
    color: rgb(83, 10, 151);
    margin-left: 3rem;
    cursor: pointer;
}

.bar span:hover {
    color: rgba(255, 255, 255, 0.518);
}


ul {
    display: flex;
    text-decoration: none;
    margin-left: 65rem;
    gap: 4rem;
}

a {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: rgb(93, 24, 157);
}

@media (max-width: 1840px) {
    ul {
        margin-left: 45rem;
    }
}

::-webkit-scrollbar {
    width: 10px;
    scroll-margin: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9201da;
    border-radius: 20px;
    height: 30px;
}