.container-journey {
    color: #FFF;
    margin-left: 5rem;
    margin-top: 9rem;
}


.container-journey span {
    width: 8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    padding: 3px;
    border: 3px #2f115371 solid;
    border-radius: 15px;
    font-weight: 700;
    color: #7B4AE2;
    background-color: #2f11533f;
}

.journey {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.journey div {
    width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0.5rem 2rem;
    border: 4px solid #7723de3f;
    border-radius: 10px;
    background-color: #530ea826;
}

.journey span {
    color: #fff;
    font-weight: 100;
    width: 10rem;
}

.journey p {
    margin-top: 1.2rem;
}

@media (max-width: 1200px) {

    .journey div {
        margin-top: 3rem;
    }
}

@media(max-width: 830px) {
    .container-journey {
        margin-left: 2rem;
    }

    .journey {
        margin: 0 -2rem 0 -2rem;
    }
}

@media(max-width: 550px) {
    .journey div {
        width: 21rem;
        font-size: 110%;
    }
}

@media(max-width: 380px) {
    .journey div {
        width: 18rem;
        margin: 0 2rem 0 0;
    }
}