.container-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0 3rem 0rem;
}

.profile {
  height: 23rem;
  width: 23rem;
  border-radius: 50%;
  margin: 5rem;
  border: 5px #2f1153 solid;
}

.greetings {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.2rem;
  color: #FFF;
  font-style: normal;
  line-height: normal;
}

.greetings span {
  width: 8rem;
  display: flex;
  justify-content: center;
  padding: 3px;
  border: 3px #2f115371 solid;
  border-radius: 15px;
  background-color: #2f11533f;
}

.greetings h1 {
  width: 25rem;
  font-size: 3.25rem;
  font-weight: 800;
}

.greetings h2 {
  color: rgba(255, 255, 255, 0.699);
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 400;
}

address {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

address img {
  height: 2rem;
}

@media (max-width: 1078px) {
  .profile {
    margin: 5rem 0 0 2rem;
  }

  .greetings {
    gap: 1.2rem;
    color: #FFF;
    font-style: normal;
    line-height: normal;
    margin: -5rem 0 0 2rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
  scroll-margin: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f1153;
  border-radius: 20px;
  height: 30px;
}