* {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vh;
}

body {
  /* background: linear-gradient(180deg, #4f0c76 5%, #6329aa 47.92%, rgb(152, 74, 205) 100%); */
  background-color: #2f1153;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}